/*!
 *
 * ======================================================================
 * 00. FOOTER
 * ======================================================================
 * 
 */

.main-footer{
    padding:20px;
    display: flex;
    color: white;
    background-color: #1b2127;
    justify-content: space-between;

    &__title{
        margin: 0 0 0 15px;
    }

    &__link{
        color: white;
    }
}


