/*!
 *
 * ======================================================================
 * 00. NAVIGATION
 * ======================================================================
 * 
 */

.nav-top{
  width: 50%;
  margin: auto;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    color: white;

}

.nav-menu{
    flex: .5;
}
